@{
    ViewBag.Title = "Credits";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Credits</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                Theme
            </div>
            <div class="panel-body">
                <p>
                    The theme for the dashboard is the excellent <a href="http://startbootstrap.com/template-overviews/sb-admin-2/">SB Admin 2</a> by <a href="http://startbootstrap.com">Start Bootstrap</a>, without this excellent admin theme this project would have taken signficantly longer.
                </p>
                <p>
                    Inclusion as part of a MVC project was created by <a href="https://github.com/lvasquez">Luis Ernesto Vasquez</a> and is detailed on <a href="http://lvasquez.github.io/2015/07/19/sb-admin-2-bootstrap-template-asp-mvc/">Luis' Blog</a>.
                </p>
                <p>SB Admin 2 uses a number of other excellent tools:</p>
                <ul>
                    <li>
                        <a href="http://bower.io/">Bower</a>
                    </li>
                    <li>
                        <a href="https://fortawesome.github.io/Font-Awesome/">Font Awesome</a>
                    </li>
                    <li>
                        <a href="http://www.flotcharts.org/">Flot Charts</a>
                    </li>
                    <li>
                        <a href="http://www.oesmith.co.uk/morris.js/">Morris.js</a>
                    </li>
                    <li>
                        <a href="http://editor.datatables.net/examples/styling/bootstrap.html">DataTables jQuery plugin</a>
                    </li>
                    <li class="text-muted">... and much more!</li>
                </ul>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-4 -->
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                Icons
            </div>
            <div class="panel-body">
                <p>
                    Icons have mainly been sourced from <a href="https://thenounproject.com/">The Noun Project</a> and are licenced under the Creative Commons <a href="http://creativecommons.org/licenses/by/3.0/us/">Attribution 3.0 United States (CC BY 3.0 US)</a>:
                </p>
                <ul>
                    <li><a href="https://thenounproject.com/term/discount-tag/128993/">Discount Tag</a> by <a href="https://thenounproject.com/kevinlao.lo">Kevin Augustine LO</a></li>
                    <li><a href="https://thenounproject.com/term/coupon/116514/">Coupon</a> by <a href="https://thenounproject.com/molumen/">Mourad Mokrane</a></li>
                    <li><a href="https://thenounproject.com/term/premium-user/60055">Premium User</a> by <a href="https://thenounproject.com/kshitij/">Kshitij Bhardwaj</a></li>
                    <li><a href="https://thenounproject.com/term/express-delivery/100245">Express Delivery</a> by <a href="https://thenounproject.com/cengizsari/">Cengiz SARI</a></li>
                </ul>
                <p>
                    Flags have been sourced from <a href="https://thenounproject.com/desbenoit/collection/flags-of-the-world/">The Noun Project - Flags of the World Collection</a> and have been released into the Public Domain:
                </p>
                <ul>
                    <li><a href="https://thenounproject.com/desbenoit/icon/67251">Flag of The Irish Republic</a> by <a href="https://thenounproject.com/desbenoit/">Desbenoit</a></li>
                    <li><a href="https://thenounproject.com/diogotrindade/icon/76781">Flag of The Netherlands</a> by <a href="https://thenounproject.com/diogotrindade">Diogo Trindade</a></li>
                </ul>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-4 -->
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                Developers
            </div>
            <div class="panel-body">
                <p>
                    Dashboard developed by <a href="https://uk.linkedin.com/in/devopsrichard">Richard Slater</a> at <a href="https://www.amido.com/">Amido</a> to support the technical delivery of a project that included many moving parts.
                </p>
                <img class="center-block" src="/Content/images/amido-logo.png" alt="Amdio Logo"/>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-4 -->
</div>
<!-- /.row -->